@font-face {
    font-family: 'SF Pro';
    src: url(./assets/fonts/SF-Pro-Display-Thin.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro';
    src: url(./assets/fonts/SF-Pro-Text-Medium.otf);
    font-weight: 800;
}

@keyframes slide-in {
    0% {
        background: transparent;
        scale: 0.5;
    }

    100% {
        transform: scale(1.5);
    }
}

:root {
    --main-color-white: #fffbff;
    --main-color-black: #28262c;
    --main-color-grey: #dde1e4;
    --main-color-green: #5b9279;
    --main-color-red: #fe5f55;
}

* {
    box-sizing: border-box;
    font-family: 'SF Pro';
    font-weight: 500;
    user-select: none;
    background-size: 0%;
}

h3:hover,
p:hover {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

html {
    background-color: var(--main-color-white);
}

input {
    width: 90%;
    padding: calc(5rem / 16);
}

#root {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
}

.icon {
    width: 20px;
}

.arrow-icon {
    width: 30px;
    margin: calc(2rem / 16) 0 0 auto;
}

.active {
    > h3,
    > img {
        display: none;
    }
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slide-in 200ms ease-in normal forwards;
}

.editor {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 2px 5px 50px -26px rgba(40, 38, 44, 0.75);
    border-radius: 1rem;

    > div {
        display: flex;
        border: solid 2px transparent;
        border-radius: 2rem;
        padding: 1rem 1rem 1rem calc(8rem / 16);
        transform: scale(1);
        transition: transform 100ms ease-out;
        transition: background-color 200ms ease-out;

        > h3 {
            font-size: calc(25rem / 16);
            margin: 0 0 0 calc(12rem / 16);
        }
    }

    .title:hover {
        background-color: var(--main-color-black);
        color: white;
        transform: scale(1.2);

        > img {
            display: none;
        }

        > h3 {
            margin: 0 auto;
            font-weight: 800;
        }
    }
}

.icon-personal {
    background-image: url(../public/personal-information/personal-information.svg);
}

.icon-education {
    background-image: url(../public/education/education.svg);
}

.icon-employment {
    background-image: url(../public/employment/employment.svg);
}

.icon-project {
    background-image: url(../public/project.svg);
}

.icon-technical {
    background-image: url(../public/technical.svg);
}

.editor-active {
    display: flex;
    /* justify-content: space-between; */
}

.personal,
.education,
.employment,
.project,
.technical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5rem 0;
    gap: calc(30rem / 16);

    > input {
        width: 80%;
        padding: calc(15rem / 16);
        border: solid 1px var(--main-color-grey);
        border-radius: 1rem;
        outline: none;
        transition: transform 200ms ease-in;
        transition: box-shadow 200ms ease-in;
    }

    > input:focus {
        transform: scale(1.2);
        box-shadow: -3px 15px 27px -8px rgba(40, 38, 44, 0.38);
    }
}

.education-unfocus,
.employment-unfocus,
.project-unfocus {
    display: flex;
    justify-content: space-between;
    font-size: calc(20rem / 16);
}

.education,
.employment,
.project,
.technical {
    margin: 0 0 1rem 0;
    > div {
        width: 90%;
        display: flex;
        gap: calc(6rem / 16);
    }
}

.done-button {
    width: 8%;
    padding: calc(15rem / 16);
    background-image: url(../public/done.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    transition: transform 200ms ease-out;
}

.done-button:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.preview {
    background-color: gold;
    width: 60%;
}
