@font-face {
    font-family: 'SF Pro';
    src: url(./assets/fonts/SF-Pro-Display-Thin.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro';
    src: url(./assets/fonts/SF-Pro-Text-Medium.otf);
    font-weight: 800;
}

@keyframes slide-in {
    0% {
        background: transparent;
        scale: 0.5;
    }

    100% {
        transform: scale(1.5);
    }
}

:root {
    --main-color-white: #fffbff;
    --main-color-black: #28262c;
    --main-color-grey: #dde1e4;
    --main-color-green: #5b9279;
    --main-color-red: #fe5f55;
}

* {
    box-sizing: border-box;
    user-select: none;
    background-size: 0%;
}

h3:hover,
p:hover,
button:hover {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    transition: transform 200ms ease-out;
}

a {
    text-decoration: none;
    color: var(--main-color-black);
    font-style: italic;
}

.back-button:hover {
    transform: scale(1.5);
}

button.back-button {
    width: fit-content;
    border: none;
    padding: 1rem;
    background-image: url(../public/done.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}

.add-button {
    width: fit-content;
    align-self: center;
    margin: auto 0 2rem 0;
    padding: 1rem;
    border: dashed 1px transparent;
    border-radius: 1rem;
    background-image: url(../public/add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 200ms ease;
}

.add-button:hover,
.detail-add:hover,
.detail-delete:hover,
.form-done:hover {
    transform: scale(1.2);
}

.add-button:hover {
    border: dashed 1px var(--main-color-black);
}

.detail-add,
.detail-delete,
.form-done {
    width: fit-content;
    color: transparent;
    margin: 1rem 0 1rem 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 200ms ease;
}

.detail-add {
    background-image: url(../public/add.svg);
}

.detail-delete {
    background-image: url(../public/minus.svg);
}

.form-done {
    background-image: url(../public/check.svg);
}

html {
    background-color: var(--main-color-white);
}

input {
    width: 90%;
    padding: calc(5rem / 16);
}

#root {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
}

.icon {
    width: 20px;
}

.arrow-icon {
    width: 30px;
    margin: calc(2rem / 16) 0 0 auto;
}

.active {
    > h3,
    > img {
        display: none;
    }
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slide-in 200ms ease-in normal forwards;
}

.editor {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: 2px 5px 50px -26px rgba(40, 38, 44, 0.75);
    border-radius: 1rem;
    font-family: 'SF Pro';
    > div {
        display: flex;
        border: solid 2px transparent;
        border-radius: 2rem;
        padding: 1rem 1rem 1rem calc(8rem / 16);
        margin: 0 0 2rem 0;
        transform: scale(1);
        transition: transform 100ms ease-out;
        transition: background-color 200ms ease-out;

        > h3 {
            font-size: calc(25rem / 16);
            font-weight: 500;
            margin: 0 0 0 calc(12rem / 16);
        }
    }

    .title:hover {
        background-color: var(--main-color-black);
        color: white;
        transform: scale(1.2);

        > img {
            display: none;
        }

        > h3 {
            margin: 0 auto;
            font-weight: 800;
        }
    }
}

.icon-personal {
    background-image: url(../public/personal-information/personal-information.svg);
}

.icon-education {
    background-image: url(../public/education/education.svg);
}

.icon-employment {
    background-image: url(../public/employment/employment.svg);
}

.icon-project {
    background-image: url(../public/project.svg);
}

.icon-technical {
    background-image: url(../public/technical.svg);
}

.editor-active {
    display: flex;
    justify-content: space-between;
}

.editor-personal,
.editor-education,
.editor-employment,
.editor-project,
.editor-technical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 auto 0;
    gap: calc(30rem / 16);

    input {
        width: 80%;
        padding: calc(15rem / 16);
        border: solid 1px var(--main-color-grey);
        border-radius: 1rem;
        outline: none;
        transition: transform 200ms ease-in;
        transition: box-shadow 200ms ease-in;
    }

    input:focus {
        transform: scale(1.2);
        font-weight: 800;
        border: none;
        outline: solid 2px var(--main-color-black);
        box-shadow: -3px 15px 27px -8px rgba(40, 38, 44, 0.38);
    }
}

.editor-education-unfocus,
.editor-employment-unfocus,
.editor-project-unfocus {
    display: flex;
    justify-content: center;
    background-color: var(--main-color-grey);
    margin: 2rem 0 1rem 0;
    border-radius: 5rem;
    font-size: calc(20rem / 16);

    > button {
        display: none;
    }
}

.editor-education-unfocus:hover,
.editor-employment-unfocus:hover,
.editor-project-unfocus:hover {
    background-color: var(--main-color-black);

    > button,
    > p {
        color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    > button {
        display: block;
        margin: calc(20rem / 16);
        background-image: url(../public/delete-general.svg);
    }

    > p {
        padding: calc(3rem / 16);
        background-image: url(../public/edit.svg);
    }
}

.editor-education,
.editor-employment,
.editor-project,
.editor-technical {
    margin: 0 0 1rem 0;

    > div {
        width: 80%;
        display: flex;
        gap: calc(6rem / 16);
    }
}

.preview {
    background-color: #5b9279;
    width: 40%;
    height: 90vh;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;

    > h4 {
        margin: 1rem 0 0 0;
        padding: 0 0 calc(2rem / 16) calc(5rem / 16);
        border-bottom: solid 1px var(--main-color-black);
    }
}

.preview-personal {
    display: flex;
    margin: 0 0 1rem 0;

    > div {
        width: 30%;
        font-size: 0.8rem;
    }

    > div:nth-of-type(2) {
        text-align: end;
    }

    > h2 {
        margin: 0 auto;
    }
}

.preview-education,
.preview-employment {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        justify-content: space-between;
        margin: calc(5rem / 16) 0 0 0;
        font-weight: bold;

        > p {
            width: 30%;
            margin: 0;
        }

        > p:nth-of-type(2) {
            text-align: center;
        }

        > p:nth-of-type(3) {
            text-align: end;
        }
    }

    ul {
        margin: calc(5rem / 16) 0 calc(5rem / 16) 0;
    }
}

.preview-projects {
}
