@font-face {
    font-family: 'SF Pro';
    src: url(./assets/fonts/SF-Pro-Display-Light.otf);
    font-weight: 300;
}

:root {
    --main-color-white: #fffbff;
    --main-color-black: #28262c;
    --main-color-grey: #dde1e4;
    --main-color-green: #5b9279;
    --main-color-red: #fe5f55;
}

* {
    box-sizing: border-box;
    font-family: 'SF Pro';
    /* margin: 0; */
}

h3:hover,
p:hover {
    color: rebeccapurple;
    cursor: pointer;
}

html {
    background-color: var(--main-color-white);
}

input {
    width: 90%;
    padding: calc(5rem / 16);
}

#root {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
}

.editor {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 2px 5px 50px -26px rgba(40, 38, 44, 0.75);
    border-radius: 1rem;

    > h3 {
        border: solid 2px black;
        font-size: 1.5rem;
        margin: 0;
    }
}

.personal,
.education,
.employment,
.project,
.technical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
    gap: calc(8rem / 16);
}

.education-unfocus,
.employment-unfocus,
.project-unfocus {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 2rem;
}

.education,
.employment,
.project,
.technical {
    margin: 0 0 1rem 0;
    > div {
        width: 90%;
        display: flex;
        gap: calc(6rem / 16);
    }
}

.preview {
    background-color: gold;
    width: 60%;
}
